
<div class="container">
  <h2>Forum</h2>

  <p>Ask any question you can think of</p>

  <ul>
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>

  {{new-answer save="save"}}

  {{#link-to 'submit-question'}}Click here to ask a question{{/link-to}}
  {{#link-to 'answers'}}Answers only{{/link-to}}
</div>
