<h2>Forum</h2>

<p>Forum for asking any question you can think of</p>

<ul>
  {{#each model as |questions|}}
    <li>Q:{{questions.question}}<br> A:{{questions.answer}}</li>
  {{/each}}
</ul>

{{#link-to 'submit-question'}}Click here to ask a question{{/link-to}}
{{#link-to 'answers'}}Answers only{{/link-to}}
